/*.container{
  border: 1px solid red;
}*/

.top-empty{
  min-height: 25px;
}

.nav{
 text-align: right;
 min-height: 50px;

}

.nav li{
  display: inline;
  color: black;
  font-size: 18px;
  padding: 20px;
}

.nav a:link, .nav a:visited{
  color: black;
  font-family: 'Francois One', sans-serif;
  text-decoration: none;
  padding: 5px;
}

.nav a:hover{
  color: white;
  padding: 5px;
  font-family: 'Francois One', sans-serif;
  text-decoration: none;
  background-color: grey;
}

.background-image img{
margin-left: -17px;
background-image: ("/images/stadium3.jpg") center center;
}

/*.bar{
  min-height: 60px;
  background-color: grey;
  margin-top: -60px;
  position: relative;
}

.artist-bar{
  min-height: 60px;
  background-color: #333399;
  margin-top: 177px;
  position: relative;
}*/

.transbox {
  position: absolute;
  max-width: 850px;
  min-height: 275px;
  max-height: 275px;
  margin-top: 65px;
  margin-left: 400px;
  padding: 0px;
  padding-top: 50px;
  margin-left: 275px;
  box-shadow: 3px 4px 7px black;
}

.transbox {
  background-color: white;
  opacity: 0.9;
  filter: alpha(opacity=80);
}

.transbox h1{
  font-family: 'Francois One', sans-serif;
  /*font-style: italic;*/
  font-size: 60px;
  text-align: center;
  margin-top: -5px;
  position: relative;
}

.transbox h2{
  text-align: center;
  margin-top: 35px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 30px;
}

.transbox h3{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: -75px;
  margin-left: 170px;
}

.transbox h4{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: -75px;
  margin-left: 25px;
}


.first-text h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 100px;
  margin-left: 60px;
  margin-bottom: 100px;
  padding: 20px;
  padding-top: 0px;
}

.first-text h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 50px;
  margin-top:50px;
  margin-bottom: 0px;
  margin-left: -30px;
  line-height: 25px;
}

.screen-icon{
  margin-bottom: 200px;
  padding: 15px;
}

.screen{
  margin-left: 210px;
}

.food{
  margin-left: -85px;
}

.sound{
  margin-top: -178px;
  margin-left: 180px;
}

.screen-icon h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: -75px;
  margin-top: 15px;
}

.screen-icon h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: -60px;
  margin-top: -35px;
}

.screen-icon h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: -45px;
}

.second-text{
  margin-left: 125px;
}

.second-text h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 25px;
  margin-left: -100px;
  margin-bottom: 100px;
  padding: 30px;
  padding-top: 0px;
  padding-right: 180px;
}

.second-text h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 50px;
  padding-right: 175px;
  margin-top: -25px;
  margin-bottom: 0px;
  margin-left: -180px;
  line-height: 25px;
}

.footer{
  width: 100%
}

.artist-background-image h1{
  font-family: 'Francois One', sans-serif;
  font-size: 60px;
  color: white;
  margin-top: -225px;
  text-align: center;
  text-shadow: 5px 5px 8px black;
}

.artist-background-image img{
  margin-left: -20px;
}

.row-one{
  margin-top: 200px;
}

.row-one h1{
  font-size: 35px;
  color: white;
  margin-top: -115px;
  margin-left: 5px;
  margin-bottom: -  200px;
  text-shadow: 4px 4px 4px black;
}

.row-one h2{
  font-size: 40px;
  color: white;
  margin-top: -90px;
  margin-left: 5px;
  margin-bottom: 100px;
  text-shadow: 4px 4px 4px black;
}

.row-one h3{
  font-size: 40px;
  color: white;
  margin-top: -45px;
  margin-left: 5px;
  margin-bottom: 100px;
  text-shadow: 4px 4px 4px black;
}

.row-one h4{
  font-size: 40px;
  color: white;
  margin-top: -90px;
  margin-left: 5px;
  margin-bottom: 203px;
  text-shadow: 4px 4px 4px black;
}


.row-two img{
  margin-top: -190px;
  margin-bottom: 100px;
  position: relative;
}

.row-two h1{
  font-size: 40px;
  color: white;
  margin-top: -145px;
  margin-left: 5px;
  text-shadow: 4px 4px 4px black;
  position: absolute;
}

.row-two h2{
  font-size: 40px;
  color: white;
  margin-top: -190px;
  margin-left: 5px;
  text-shadow: 4px 4px 4px black;
  position: absolute;
}

.row-two h3{
  font-size: 40px;
  color: white;
  margin-top: -190px;
  margin-left: 5px;
  text-shadow: 4px 4px 4px black;
  position: absolute;
}

.row-two h4{
  font-size: 40px;
  color: white;
  margin-top: -235px;
  margin-left: 5px;
  text-shadow: 4px 4px 4px black;
  position: absolute;
}

.cheerleaders img{
  margin-left: -180px;
  margin-top: 25px;
  margin-bottom: 75px;
}

.cheerleaders h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  color: white;
  margin-top: -300px;
  margin-bottom: 200px;
  text-align: center;
  text-shadow: 10px 10px 12px black;
}

.button {
    background-color: #0033A0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    padding: 8px;
    margin-left: -128px;
    margin-top: -20px;
}

.footer{
  background-color: #0033A0;
  min-height: 225px;
  width: 1450px;
  margin-top: 200px;
  margin-left: -175px;
  margin-bottom: -100px;
}

.footer img{
  margin-left: 350px;
  margin-top: 35px;
}
