/*.container{
  border: 1px solid red;
}*/

/*---------GENERAL-----------*/
.top-empty{
  min-height: 25px;
}

.side-heading{
  padding-left: 200px;
  padding-right: 25px;
}

.row{
  padding-top: 50px;
}

.row p{
  padding-top: 20px;
}

.col-sm-8{
  padding-right: 200px;
}

@media only screen and (max-width: 768px){
  .side-heading{
    padding-left: 50px;
  }
}

@media only screen and (max-width: 768px){
  .col-sm-8{
    padding-left: 50px;
    padding-right: 50px;
  }
}

/*-------NAV--------------*/

@media only screen and (min-width: 768px) {
  .nav-buttons li{
    display: inline;
    padding: 20px;
  }

  .nav-buttons{
    text-align: right;
    margin-top: 20px;
  }

  .nav-buttons li a, .nav-buttons li a:visited {
    /*background-color:lightgrey;*/
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Francois One', sans-serif;
  }

  .nav-buttons li a:hover {
    background-color:grey;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Francois One', sans-serif;
  }

  .nav-buttons .selected a, .nav-buttons .selected a:visited{
    background-color:grey;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Francois One', sans-serif;
  }
}

@media only screen and (max-width: 768px) {
  .nav-buttons li{
    display: inline;
    padding: 5px;
  }

  .nav-buttons{
    text-align: center;
    margin-top: 10px;
  }

  .nav-buttons li a, .nav-buttons li a:visited {
    padding: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Francois One', sans-serif;
  }

  .nav-buttons li a:hover {
    background-color:grey;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Francois One', sans-serif;
  }

  .nav-buttons .selected a, .nav-buttons .selected a:visited{
    background-color:grey;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Francois One', sans-serif;
  }
}


/*------------------------*/



.hero-image{
  background: url("../images/stadium.jpg") no-repeat center;
  min-height: 400px;
  padding-top: 100px;
}

.text-box{
  padding:15px;
}

@media only screen and (max-width: 768px) {
  .text-box{
    margin-top: -50px;
}
}
.text-box h1{
  font-family: 'Francois One', sans-serif;
  font-size: 60px;
  text-align: center;
  color: black;
}

.text-box h2{
  color: black;
  margin-bottom: 25px;
}

.text-box{
  background-color: white;
  opacity: 0.7;
  max-width: 650px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.time{
  padding-left:50px;
  color: black;
}

@media only screen and (max-width: 768px) {
  .time{
      padding-left: 89px;
  }
}

.location{
  color: black;
}

.icons{
  text-align: center;
}

/*------------------------*/

/* grabbed random icons from Google Material Design https://material.io/ You guys are obviously bringing in your own */
.material-icons{
  font-size: 25px;
}

.mock-icon{
  padding-left: 50px;
  padding-right: 50px;
}

@media only screen and (max-width: 768px) {
  .icons img{
    width: 60px;
    height: auto;

  }
}





/*------------------------*/



.image-divider{
  background: url("../images/cheerleaders.png") no-repeat center;
  min-height: 300px;
  margin-top: 100px;
}

.image-divider h2{
  color: white;
  text-shadow: 10px 10px 12px black;
  font-size: 40px;
  text-align: center;
  padding-top:130px;
}

@media only screen and (max-width: 768px) {
  .image-divider h2{
    margin-top: -55px;
  }
}

/*------------------------*/


.button-container{
  text-align: center;
}

/* overwriting bootstrap defaults */
.btn-primary{
  min-width:200px;
  margin-bottom:100px;
  margin-left: -490px;
  background-color: #0033A0;
  border: none;
}

@media only screen and (max-width: 768px) {
  .btn-primary{
    margin-left: auto;
  }
}



/*------------------------*/

.sponsors{
  background-color: #0033A0;
  padding: 30px;
  text-align: center;
}

.sponsors img{
  margin-left: 40px;
  margin-right: 40px;
}

@media only screen and (max-width: 768px) {
  .sponsers img{
    padding: 150px;
  }
}
/*------------------------*/










/*--------------------------Artists----------------------*/


.artist-background-image h1{
  font-family: 'Francois One', sans-serif;
  font-size: 60px;
  color: white;
  margin-top: -225px;
  text-align: center;
  text-shadow: 5px 5px 8px black;
}

.artist-background-image img{
  margin-left: -20px;
}

.row-one{
  margin-top: 200px;
}

.row-one h1{
  font-size: 35px;
  color: white;
  margin-top: -115px;
  margin-left: 5px;
  margin-bottom: -  200px;
  text-shadow: 4px 4px 4px black;
}

.row-one h2{
  font-size: 40px;
  color: white;
  margin-top: -90px;
  margin-left: 5px;
  margin-bottom: 100px;
  text-shadow: 4px 4px 4px black;
}

.row-one h3{
  font-size: 40px;
  color: white;
  margin-top: -45px;
  margin-left: 5px;
  margin-bottom: 100px;
  text-shadow: 4px 4px 4px black;
}

.row-one h4{
  font-size: 40px;
  color: white;
  margin-top: -90px;
  margin-left: 5px;
  margin-bottom: 203px;
  text-shadow: 4px 4px 4px black;
}


.row-two img{
  margin-top: -190px;
  margin-bottom: 8px;
  position: relative;
}

.row-two h1{
  font-size: 40px;
  color: white;
  margin-top: -55px;
  margin-left: 5px;
  text-shadow: 4px 4px 4px black;
  position: absolute;
}

.row-two h2{
  font-size: 40px;
  color: white;
  margin-top: -100px;
  margin-left: 5px;
  text-shadow: 4px 4px 4px black;
  position: absolute;
}

.row-two h3{
  font-size: 40px;
  color: white;
  margin-top: -100px;
  margin-left: 5px;
  text-shadow: 4px 4px 4px black;
  position: absolute;
}

.row-two h4{
  font-size: 40px;
  color: white;
  margin-top: -140px;
  margin-left: 5px;
  text-shadow: 4px 4px 4px black;
  position: absolute;
}

.cheerleaders img{
  margin-left: -180px;
  margin-top: 25px;
  margin-bottom: 75px;
}

.cheerleaders h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  color: white;
  margin-top: -300px;
  margin-bottom: 200px;
  text-align: center;
  text-shadow: 10px 10px 12px black;
}

.button {
    background-color: #0033A0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    padding: 8px;
    margin-left: -128px;
    margin-top: -20px;
}

.button:hover{
  text-decoration: none;
  color: white;
  box-shadow: 2px 2px 5px black;
}

.footer{
  background-color: #0033A0;
  min-height: 225px;
  max-height: 225px;
  width: 1450px;
  margin-top: 175px;
  margin-left: -175px;
  margin-bottom: -275px;
}

.footer img{
  margin-left: 450px;
  margin-top: 50px;
}

.footer-second-image{
  margin-left: 500px;
  margin-top: 120px;
}

a:hover{
  text-decoration: none;
}


.row-one img:hover{
  box-shadow: 3px 3px 12px black;

}

.row-three h1{
  margin-top: -80px;
}

.row-three h4{
  margin-top: -90px;
}
